[submodule "belajar-golang-dasar"]
	path = belajar-golang-dasar
	url = https://github.com/mfauzirh/belajar-golang-dasar.git
[submodule "belajar-golang-standard-library"]
	path = belajar-golang-standard-library
	url = https://github.com/mfauzirh/belajar-golang-standard-library.git
